@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
p,
a {
  color: #101e60;
}

h1,
h2 {
  font-family: "Fredoka", sans-serif;
}

h3,
h4 {
  font-family: "Bubblegum Sans", sans-serif;
  color: #ff48b0;
}

a {
  text-decoration: none;
  font-weight: 600;
}

textarea {
  resize: none;
}

/* Navbar */

.resume-link {
  transition: color 0.3s ease, border-color 0.3s ease;
}

/* Hero Animation */

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.bounceInAnimation {
  animation: bounceIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInAnimation {
  animation: fadeIn 2s ease-in forwards;
}

/* Stacking Cards */

.stack-cards {
  display: grid;
  grid-gap: 1rem;
}

.stack-cards__item {
  position: sticky;
  top: 1rem;
  transform-origin: center top;
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  .stack-cards {
    grid-gap: 0;
  }
}

/* Gradients */

.bg-gradient-white {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.border-gradient-white {
  border: 1px solid;
  border-image-source: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}

/* Hero Animation */

/* Tools */
.drop {
  position: absolute;
  top: -33px;
  z-index: 1;
}

.bubble {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.flask-image {
  position: relative;
  z-index: 2;
}

.fill-container {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 3;
}

.ripple {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 20px;
  height: 20px;
  background: rgba(242, 242, 246, 0.5);
  border-radius: 50%;
  transform: translateX(-50%) scale(0);
  z-index: 3;
}

/* Small screens layout */
@media (max-width: 1023px) {
  .tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Avatar */

@media (max-width: 450px) and (min-width: 375px) {
  .avatar {
    width: 300px;
    height: auto;
  }
}

/* Other */

.transition-max-height {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.transition-max-height-expanded {
  max-height: 500px;
  opacity: 1;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Scroll Down Arrow */

.arrow-wave {
  display: inline-block;
}

.arrow-wave span {
  display: block;
  position: relative;
  height: 10px;
  width: 16px;
  opacity: 0.2;
}

.arrow-wave span::before,
.arrow-wave span::after {
  display: block;
  content: "";
  position: absolute;
  height: 2px;
  width: 12px;
  background-color: #101e60;
}

.arrow-wave span::before {
  top: -2px;
  left: 0;
  transform-origin: left center;
  transform: rotate(45deg);
}

.arrow-wave span::after {
  top: -2px;
  right: 0;
  transform-origin: right center;
  transform: rotate(-45deg);
}

.arrow-wave span:nth-child(1n) {
  animation: animate-arrow-wave 2s infinite;
  animation-delay: 0.25s;
}
.arrow-wave span:nth-child(2n) {
  animation: animate-arrow-wave 2s infinite;
  animation-delay: 0.5s;
}

.arrow-wave span:nth-child(3n) {
  animation: animate-arrow-wave 2s infinite;
  animation-delay: 0.75s;
}

@keyframes animate-arrow-wave {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Tools Steam */

#steam {
  width: 320px;
  height: 480px;
  position: absolute;
  justify-content: center;
  z-index: 1;
}

#anima1 {
  display: flex;
  justify-content: center;
  width: 280px;
  position: absolute;
}

#anima1 span {
  position: relative;
  bottom: -120px;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: rgb(250, 202, 252);
  border-radius: 50%;
  animation: animate 3s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * 1s);
}

.flask-image {
  position: relative;
  z-index: 2;
}

.hand-image {
  position: relative;
  z-index: 3;
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(-75px) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-150px) scaleX(10);
  }
}

@media (max-width: 1024px) {
  #steam {
    display: none;
  }
}

/* Contact Form */

#form {
  background-color: #ffebef;
  overflow: hidden;
  position: relative;
}

.formgroup {
  width: 566px;
  padding-top: 2px;
}

input,
textarea {
  transition: border 0.5s;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border: solid 3px #ff48b0;
}

/* Animation Reveal */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.7s ease-in-out forwards;
}

.transition-max-height {
  transition: max-height 0.5s ease-in-out;
}
