.eyes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-42%, -133%);
  display: flex;
  gap: 3px;
}

.eye {
  width: 54px;
  height: 54px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pupil {
  width: 18px;
  height: 22px;
  position: absolute;
}

.left-pupil {
  top: 34%;
  left: 36%;
}

.right-pupil {
  top: 34%;
  left: 31%;
}
